/* Projects */
.projects {
  background-color: #59585d;
  padding: 50px;
  color: white;
}

.projects-header-quote {
  margin-bottom: 20px;
}
.projects h1,
.projects h3 {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.projects p {
  font-family: "Roboto", Helvetica, serif;
  padding: 0 10px;
}

.projects-header-quote {
  font-style: italic;
}

.luvtalk-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../static/img/luvtalklogo.png);
  background-position: center center;
}

.personal-website-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../static/img/logo.svg);
  background-position: center center;
}

.strike-zone-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../static/img/mlbproject.png);
  background-position: center center;
}

.resume {
  padding: 50px 0px;
  font-family: "Calisto MT", Helvetica, serif;
}

.resume-header {
  margin-bottom: 20px;
}
.objective h4,
.education h4,
.work-experience h4,
.resume-projects h4,
.activities h4,
.skills h4,
.endorsements h4 {
  border-bottom: 1px solid black;
}

.project-more-btn {
  margin-top: 10px !important;
}
